<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card contact">
                <div class="card-body">
                    <h1>Contact</h1>
                     <p>Name</p>
                     <input type="text">
                     <p>Subject</p>
                     <input type="text">
                     <p>Message</p>
                     <textarea cols="40" row="20"></textarea><br/><br/>
                     <input type="submit" value="send">
                </div>
              </div>
        </div>
    </div>
</div>

